* {
  box-sizing: border-box;
  box-sizing: content-box;
}

.bgc-f7c659 {
  background: #f7c659 !important;
}

.color-f7c659 {
  color: #f7c659;
}

.color-bfbfbf {
  color: #bfbfbf;
}

.color-ED2324 {
  color: #ed2324;
}

.color-f759ab {
  color: #f759ab;
}

.flex {
  display: flex;
}

.flex-warp {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.margin-top-107 {
  margin-top: 214rpx;
}
/* 删除线 */
.text-decoration-through {
  text-decoration: line-through;
}
