.detail-container {
  min-height: 100vh;
  height: auto;
  background-color: #f5f5f5;
  padding-bottom: 100rpx;
  .swiper {
    height: 750rpx;
    background-color: red;
    margin-bottom: 26rpx;
  }
}
