.sort-container {
  .van-search {
    height: 138rpx;
    margin-bottom: 18rpx;
  }
  .tree {
    .van-tree-select__nav {
      .van-sidebar-item--selected {
        border-color: #f759ab;
      }
    }
    .content-box {
      padding-left: 26rpx;
      padding-right: 26rpx;
      .title {
        color: #f759ab;
        font-size: 26rpx;
        margin-top: 60rpx;
        margin-bottom: 32rpx;
      }
      .content {
        flex-wrap: wrap;
        justify-content: start;
        .box {
          margin-bottom: 44rpx;
          margin-right: 27rpx;
          view {
            font-size: 24rpx;
          }
        }
      }
    }
  }
}
